@font-face {
    font-family: HanyiSentyChalk;
    src: url(HanyiSentyChalk2018.ttf);
}

body {
    background-color: #f0eeee;
    /*background-image: url(https://i.imgur.com/e5JV6xm.gif);
    background-size: 100%;*/
}

nav {
    position: sticky;
    top: 0;
    /*width: 100%;*/
    background-color: gray;
    /*opacity: 0.5;*/
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    text-align: center;
    /*width: 200px;*/
    list-style: none;
    line-height: 3em;
    font-weight: bolder;
    display: inline-block;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
    padding: 0px;
}

.linklist {
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}

a:link {
    color: white;
}


/*a:hover {
    color: rgb(179, 13, 13) !important;
}

li:hover {
    background-color: #aca9a9;
}*/

.page {
    /*text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: dashed;*/
    background-color: orangered;
}

a:visited {
    color: white;
}

.my_nav {
    transition: all 500ms ease-in-out;
}

.my_nav:hover {
    background-color: orangered;
}

.old-text,
.new-text {
    display: block;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.old-text {
    height: auto;
    opacity: 1;
    width: auto;
}

.new-text {
    height: 0;
    opacity: 0;
    width: 0;
}

.my_nav:hover .old-text {
    height: 0;
    opacity: 0;
    width: 0;
}

.my_nav:hover .new-text {
    height: auto;
    opacity: 1;
    width: auto;
}

article {
    margin-top: 20px;
}

.row {
    margin: 15px;
}

.title {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    font-size: 60px;
    border-bottom: solid red 1px;
    width: 80%;
    margin: auto;
    transition: all 500ms ease-in-out;
}

.old-h1,
.new-h1 {
    display: block;
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.old-h1 {
    height: auto;
    opacity: 1;
    width: auto;
}

.new-h1 {
    font-family: 'Courier New', Courier, monospace;
    height: 0;
    opacity: 0;
    width: 0;
}

.title:hover .old-h1 {
    height: 0;
    opacity: 0;
    width: 0;
}

.title:hover .new-h1 {
    height: auto;
    opacity: 1;
    width: auto;
}

h1 {
    font-size: 45px;
}

.new-h1 {
    font-family: 'HanyiSentyChalk', sans-serif;
    font-weight: bold;
}